{% extends ('basefront/base.html.twig') %}
{% block title %}Creer Reclamation
{% endblock %}


{% block body %}
<br>
	<h1 style="text-align:center">Réclamer</h1>

	{{include('reclamation/_form.html.twig')}}
	<a href="{{ path('reclamation_indexreclamFront') }}" class="btn btn-primary mb-2">
		to list</a>
		
{% endblock %}
