{% extends ('base_back_f/basebackF.html.twig') %}
{% block title %}Creer Reclamation
{% endblock %}


{% block body %}
<h1>Creer reclamation</h1>

<aback {{ include('reclamation/_form.html.twig') }} </a> <a href="{{ path('reclamation_index') }}" class="btn btn-primary"> to list</a> {% endblock %}
