{% extends ('basefront/base.html.twig') %}
{% block title %}Creer Reclamation
{% endblock %}


{% block body %}
	<h1>Creer reclamation</h1>

	{{include('reclamation/_form.html.twig')}}
	<a href="{{ path('reclamation_indexreclamFront') }}" class="btn btn-primary">
		to list</a>
		
{% endblock %}
