{% extends ('basefront/base.html.twig') %}
{% block body %}

    
    <!-- Events Section-->
    <section class="py-5">
      <div class="container py-5">
        


        <div class="p-4 p-lg-5 bg-light text-center">
          <div class="row gy-4 align-items-center">
            <div class="col-lg-3">
              <div class="d-flex align-items-center justify-content-center justify-content-lg-start">
                <p class="text-gray text-xl h1 mb-0">1</p>
                <div class="ms-2">
                  <h5 class="mb-0">March</h5>
                  <p class="text-small mb-0 text-muted">2022</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 text-center">
              <h4 class="text-primary mb-1"> <a class="reset-anchor" href="text.html">SGOES-T</a></h4>
              <p class="text-serif mb-0 text-muted">March 1, 2022</p>
              <p class="text-serif mb-0 text-muted">Lorem ipsum</p>
            </div>
            <div class="col-lg-3 text-lg-end"><a class="btn btn-outline-primary px-4" href="text.html">Find out more</a></div>
          </div>
        </div>
      </div>
    </section>

    {% endblock %}