
{% block title %}Index{% endblock %}
{% block head %}
   BONJOUR Categorie
{% endblock %}
{% block content %}
    <h1>Index</h1>
    <p>Categorie</p>
    <p>Categorie</p>
    <p>Categorie</p>
{% endblock %}