{% block Title %}Gestion des Users

<!DOCTYPE html>

<title>New User</title>


    <h1>Create new User</h1>
    <div align="center">
    {{ include('user/_form.html.twig') }}
    </div>

    <a href="{{ path('user_index') }}">back to list</a>
{% endblock %}
